@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section
  padding 60px 0
  .section-title
    text-align center
    color #007b5e
    margin-bottom 50px
    text-transform uppercase

#what-we-do
  background #ffffff
  .card
    padding 1rem!important
    border none
    margin-bottom 1rem
    -webkit-transition .5s all ease
    -moz-transition .5s all ease
    transition .5s all ease
    &:hover
      -webkit-box-shadow 5px 7px 9px -4px rgb(158, 158, 158)
      -moz-box-shadow 5px 7px 9px -4px rgb(158, 158, 158)
      box-shadow 5px 7px 9px -4px rgb(158, 158, 158)
      .card-block
        a
          i
            display inline-block
            font-weight 700
        &:before
          -webkit-transform rotate(360deg)
          transform rotate(360deg)
          -webkit-transition .5s all ease
          -moz-transition .5s all ease
          transition .5s all ease
    .card-block
      padding-left 50px
      position relative
      a
        color #007b5e !important
        font-weight 700
        text-decoration none
        i
          display none
      &:before
        font-family FontAwesome
        position absolute
        font-size 39px
        color #007b5e
        left 0
        -webkit-transition -webkit-transform .2s ease-in-out
        transition transform .2s ease-in-out
    .block-1
      &:before
        content "\f0e7"
    .block-2
      &:before
        content "\f0eb"
    .block-3
      &:before
        content "\f00c"
    .block-4
      &:before
        content "\f209"
    .block-5
      &:before
        content "\f0a1"
    .block-6
      &:before
        content "\f218"
